@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  margin: 0em;
  padding: 0em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.images {
  position: relative;
}

.zero , .one , .two , .three , .four{
  position: absolute;
}

.group {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.bubbles li {
  width: 15px;
  height: 15px;
  border: 3px solid #444;
  border-radius: 50%;
  list-style-type: none;
  display: inline-block;
}

.all {
  height: 350px;
  width: 570px;
  position: relative;
}
